@import './variables.css';
@import './components/_form_handle.css';
@import './mixhtml.css';
@import './components/_header.css';
@import './components/_footer.css';
@import './components/_hero.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
}

body{
    background-color: var(--color_main_bg) !important;
    background: var(--gradient_body);
    ul{
        list-style: none;
    }
}

main{
    margin: 0 auto;
    padding: 0 4%;
    font-family: var(--font_fallback);
    color: var(--color_secondary);

    p{
        color: var(--color_secondary);
        font-family: var(--font_regular);
    }

    h1{
        color: var(--color_secondary);
        font-family: var(--font_bold);
        font-size: 2.5rem;
        letter-spacing: .5px;
    }
    h2{
        color: var(--color_secondary);
        font-family: var(--font_semibold);
        font-size: 1.4rem;
        letter-spacing: .5px;
    }
    h3{
        color: var(--color_secondary);
        font-family: var(--font_regular);
        font-size: 1rem;
        letter-spacing: .5px;
    }
}

.img-container{
    /* Default img size, correct container size with mojocss */
    width: 100px; 
    .img{
        object-fit: cover;
        width: 100%;
    }
}

.button-primary{
    background-color: var(--color_primary);
    color: var(--color_secondary);
    padding: .40rem 1.15rem;
    border-radius: .25rem;
    font-family: var(--font_semibold);
    letter-spacing: .5px;
    font-size: 1.25rem;
    cursor: pointer;
    &:hover{
        text-decoration: underline;
    }
}
.button-secondary{
    background-color: transparent;
    box-sizing: border-box;
    border: solid var(--color_secondary) 2px;
    color: var(--color_secondary);
    padding: .25rem 1.15rem;
    border-radius: .25rem;
    font-family: var(--font_semibold);
    letter-spacing: .5px;
    font-size: 1.25rem;
    transition: border-color .1s ease-in;
    i{
        transition: transform .1s ease-in;
    }
    &:hover{
        border-color: var(--color_tertiary50);
        color: var(--color_tertiary50);
        transition: border-color .15s ease-in-out;
        i{
            transform: translateX(5px);
            transition: transform .15s ease-in-out;
        }
    }
}
.hyperlink{
    font-family: var(--font_semibold);
    color: var(--color_secondary);
    text-decoration: underline;
    &:hover{
        color: var(--color_primary);
    }
}
.hidden{
    display: none;
}
