@font-face {
    font-family: Netflix-Sans;
    /* src: url("../fonts/Netflix_Sans_Medium.otf") format("opentype"); */
    src: url("../fonts/netflix-sans-core-variable-full.woff2");
    font-weight: 400;
}

@font-face {
    font-family: Netflix-Sans-bold;
    font-weight: 600;
    src: url("../fonts/netflix-sans-core-variable-full.woff2");
}
@font-face {
    font-family: Netflix-Sans-semibold;
    font-weight: 500;
    src: url("../fonts/netflix-sans-core-variable-full.woff2");
}

@font-face {
    font-family: Netflix-Sans-light;
    font-weight: 300;
    src: url("../fonts/netflix-sans-core-variable-full.woff2");
}
@font-face {
    font-family: Netflix-Sans-fallback;
    font-weight: 100;
    src: url("../fonts/netflix-sans-core-variable-full.woff2");
}


:root{
    --color_primary: #E50914;
    --color_primary50: #b4050e;
    --color_secondary: #fff;
    --color_tertiary: #808080;
    --color_tertiary50: #E5E5E5;

    --color_input: #0e0e0ecc;
    --color_input_border: #2e2e2e;
    --color_movie_card: #141414;

    --color_system_error: #6f181d;
    --color_system_valid: #186f18;

    --color_main_bg: #040202;
    --color_main_bg85: rgba(50, 50, 50, 0.85);

    --gradient_hero: linear-gradient(77deg, rgba(0, 0, 0, .6), transparent 85%);
    --gradient_header: linear-gradient(180deg, rgba(0, 0, 0, .7) 10%, transparent);
    --gradient_body: linear-gradient(180deg, #491819 0%, #040202 100%);
    --gradient_arch: linear-gradient(to right,rgba(33, 13, 22, 1) 16%,rgba(184, 40, 105, 1),rgba(229, 9, 20, 1),rgba(184, 40, 105, 1),rgba(33, 13, 22, 1) 84%);
    --gradient_arch_bg: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
    --gradient_info_card: linear-gradient(149deg, #192247 0%, #210e17 96.86%);

    --font_regular: 'Netflix-Sans', 'Helvetica Neue', 'sans-serif';
    --font_bold: 'Netflix-Sans-bold', 'Helvetica Neue', 'sans-serif';
    --font_semibold: 'Netflix-Sans-semibold', 'Helvetica Neue', 'sans-serif';
    --font_light: 'Netflix-Sans-light', 'Helvetica Neue', 'sans-serif';
    --font_fallback: 'Netflix-Sans-fallback', 'Helvetica Neue', 'sans-serif';
}

