footer{
    padding: 0 4%;
    max-width: 980px;
    margin: 20px auto 0;
    margin-bottom: 1rem;

    .footer-socials {
        display: flex;
        gap: .5rem;
        margin-bottom: 1rem;
        >*{
        color: var(--color_secondary);
        margin-left: 15px;
        }
    }

    .footer-links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        list-style-type: none;
        row-gap: .75rem;
        column-gap: .5rem;
        margin-bottom: 2rem;
        font-size: 13px;
    
    @media (min-width: 768px) {
        grid-template-columns: repeat(4, 1fr);
    }

    li a{
        color: var(--color_tertiary);
        font-family: var(--font_light);
        &:hover{
            text-decoration: underline;
            }
        }
    }
    span.trademark{
        font-family: var(--font_light);
        color: var(--color_tertiary);
        font-size: 11px;
    }
}