.form-handle{
    display: flex;
    flex-direction: column;
    gap: .75rem;
    animation: fade_in_kf .5s both ease;
    .form-handle-item{
        display: flex;
        flex-direction: column;
        gap: .25rem;
        min-width: 250px;
        label{
            font-family: var(--font_regular);
        }
        input{
            height: 3rem;
            padding: 1rem;
            border-radius: .25rem;
            background-color: var(--color_input);
            border: solid var(--color_input_border) 1px;
            color: var(--color_secondary);
            /* &:user-invalid{
                outline: var(--color_system_error) solid 2px;
            } */
            &[type="file"]{
                padding: .65rem;
            }
        }
        & label:has(+ input.required)::after {
            content: " *";
            color: var(--color_primary);
            margin-left: 0.25rem;
        }

        &.form-image-upload{
            flex-direction: row;
            gap: 1rem;
            .img-container{
                width: 50%;
                .img{
                    min-width: 25px;
                }
            }
        }
    }
}

/* System feedback */
.form-handle-item input.mix-error{
        /* background-color: var(--color_system_error); */
        border-color: var(--color_system_error);
}
.form-handle-item:has(.mix-error)::after {
    animation: fade_in_kf .2s both ease;
    content: "Please check the requirements";
    color: var(--color_primary);
}

/* Styling for system feedback component */
.label-error{
    transform: translateY(0px);
    animation: fade_in_kf .5s both ease;
}

@keyframes fade_in_kf{
    from{
        transform: translateY(10px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}