.content-wrapper{
    overflow-x: hidden;
    margin-right: -4%;
    padding-bottom: 6rem;
}

.content-carrousel-container{
    overflow-x: visible;
    position: relative;
    padding: .75rem 0;
    
}
.content-carrousel{
    display: flex;
    gap: .5rem;
    overflow: visible;
}


/* Component style */
.card-container {
    flex: 0 0 auto;
    width: 23%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    cursor: pointer;
    .img-container img{
        border-radius: 4px;
    }
    .img-container, img{
        height: 100%;
    }
}

.card-container .card-content {
    background-color: var(--color_movie_card);
    border-radius: 0 0 4px 4px;
    max-height: 0;
    width: 100%;
    overflow: hidden;
    padding: 0 1rem;
    transition: max-height 0.3s ease, padding 0.3s ease;
    position: absolute;
    top: 100%;
}

/* The "active" class applied via JS */
.card-container.card-active {
    transform: translateY(-30px) scale(1.1);
    z-index: 10;
    box-shadow: 0 12px 30px rgba(0,0,0,0.3);

    .card-content {
        max-height: 200px;
        padding: 1rem;
    }
    .img-container img{
        border-radius: 4px 4px 0 0;
    }
}
