{% include "components/_header.html" %}
{% include "components/___back_btn.html"%}
<section class="max-w-580px ma-auto">
    <div class="d-flex j-content-between flex-wrap gap-1rem mb-2rem">
        <header class=" ">
            <h1 class="text-t-capitalize">{{ x.lans("account_header_1") }} {{ user.user_first_name }}</h1>
            <h2>{{ x.lans("account_body_1") }}</h2>
        </header>
        <div class="img-container mx-auto max-w-30%" sm="mx-0 ml-auto">
            <img src="{{ url_for('static', filename='' ~ (user.user_avatar_path if user.user_avatar_path else '/images/twitter_default.png')) }}"
                alt="Profile picture" class="img rounded-md aspect-ratio:1/1">
        </div>
    </div>
    <div id="error_container"></div>
    <form class="form-handle" action="{{ url_for('api_update_account') }}" mix-post autocomplete="off"
        enctype="multipart/form-data">
        <div class="form-handle-item">
            <label for="user_first_name">
                {{ x.lans("system_first_name") }} <span class="text-c-var(--color_tertiary)">-
                    {{ x.USER_FIRST_NAME_MIN }} {{ x.lans("system_to") }} {{ x.USER_FIRST_NAME_MAX }} {{
                    x.lans("system_characters") }}</span>
            </label>
            <input name="user_first_name" id="user_first_name" type="text" mix-check="{{ x.REGEX_USER_FIRST_NAME }}"
                value="{{ user.user_first_name }}" required>
        </div>
        <div class="form-handle-item">
            <label for="user_email">
                {{ x.lans("system_email") }}
            </label>
            <input name="user_email" id="user_email" type="text" mix-check="{{ x.REGEX_EMAIL }}"
                value="{{ user.user_email }}" required>
        </div>
        <div class="form-handle-item">

            <label for="user_avatar_file_upload">{{ x.lans("system_choose_profile_picture") }}
                <span class="text-c-var(--color_tertiary)">- {{ x.IMAGE_FILE_ALLOWED }}</span>
            </label>
            <input type="file" id="file" name="user_avatar_file_upload" accept="{{ x.IMAGE_FILE_ALLOWED }}"
                placeholder="{{ x.lans('system_choose_file') }}" />
            <!--  -->


        </div>
        {{ x.lans("system_login") }}
        <button class="button-primary w-100%" mix-default="{{ x.lans('account_cta_1') }}"
            mix-await="{{ x.lans('system_loading') }}">
            {{ x.lans("account_cta_1") }}
        </button>
    </form>
</section>
<section id="block_list">
    <h2>Block list</h2>
    {% if blocked_users %}
    {% for blocked in blocked_users %}
    {% include "components/___blocked_user_card.html" %}
    {% endfor %}
    {% else %}
    <p>You have not blocked anyone</p>
    {% endif %}
</section>
{% include "components/_footer.html" %}