{% include "components/_header.html" %}
<header class="d-flex gap-1rem j-content-between">
    <h1>Admin panel</h1>
    <div id="error_container"></div>
</header>
<p>Here you find active and deleted users within the system. You can suspend and reactivate their status.</p>

<section class=" mx-auto my-4 d-flex j-content-between">
    <form id="search_form" class="form-handle">
        <div class="form-handle-item">
            <input id="txt_search_for" name="search_for" type="text" placeholder="Search for users" autocomplete="off"
                oninput="get_search_results('/api-search', 'post', '#search_form', 'parse_search_results')">

        </div>

        <div id="search_results" class="
                d-none
                p-absolute top-12 left-0 w-600px bg-c-var(--color_main_bg) h-auto pa-4 rounded-sm shadow-lg">
        </div>

    </form>
    <button class="button-secondary" mix-default="Update dictionary" mix-await="updating..."
        mix-get="/api-update-dictionary">Update dictionary</button>
</section>
<section id="admin_users_lists" class="max-w-1080px mx-auto" lg="max-w-full d-grid cols-2 gap-2rem">
    <section>
        <h2>Active users</h2>


        <div id="active_users_list search_results" class=" d-flex flex-col gap-2 mb-4">
            {% for user in active_users %}
            {% include "components/_admin_account_card.html" %}
            {% endfor %}
        </div>
    </section>
    <section>
        <h2>Deleted users</h2>
        <div id="deleted_users_list" class="d-flex flex-col gap-2 mb-4">
            {% for user in deleted_users %}
            {% include "components/_admin_account_card.html" %}
            {% endfor %}
        </div>
    </section>
</section>

<script defer src="{{ url_for('static', filename='js/adminDialog.js') }}"></script>
<script defer src="{{ url_for('static', filename='js/search.js') }}"></script>
{% include "components/_footer.html" %}