{% include "components/_header.html" %}
<header>
    <h1>Admin panel</h1>
</header>
<div id="error_container">
</div>
<p>Here you find active and deleted users within the system. You can suspend and reactivate their status.</p>


<section id="admin_users_lists" class="max-w-1280px mx-auto">
    <h3>Active users</h3>
    <div class=" d-flex flex-col gap-2 mb-4">
        {% for user in active_users %}
        {% include "components/_admin_account_card.html" %}
        {% endfor %}
    </div>
    <h3>Deleted users</h3>
    <div class="d-flex flex-col gap-2 mb-4">
        {% for user in deleted_users %}
        {% include "components/_admin_account_card.html" %}
        {% endfor %}
    </div>
</section>
<dialog>
    <h2>Are you sure?</h2>
    <button id="closeDialog">Cancel</button>
</dialog>

<script defer src="{{ url_for('static', filename='js/adminDialog.js') }}"></script>
{% include "components/_footer.html" %}