{% include "components/_header.html" %}
<header class="d-flex gap-1rem j-content-between">
    <h1>Admin panel</h1>
    <div id="error_container"></div>
</header>
<p>Here you find active and deleted users within the system. You can suspend and reactivate their status.</p>

<section class="max-w-1280px mx-auto mb-4">
    <button class="button-secondary d-flex p-self-end" mix-default="Update dictionary" mix-await="updating..."
        mix-get="/api-update-dictionary">Update dictionary</button>
</section>
<section id="admin_users_lists" class="max-w-1080px mx-auto" lg="max-w-full d-grid cols-2 gap-2rem">
    <section>
        <h2>Active users</h2>
        <div class=" d-flex flex-col gap-2 mb-4">
            {% for user in active_users %}
            {% include "components/_admin_account_card.html" %}
            {% endfor %}
        </div>
    </section>
    <section>
        <h2>Deleted users</h2>
        <div class="d-flex flex-col gap-2 mb-4">
            {% for user in deleted_users %}
            {% include "components/_admin_account_card.html" %}
            {% endfor %}
        </div>
    </section>
</section>
<dialog>
    <h2>User reviews</h2>

    <button id="closeDialog">Cancel</button>
</dialog>

<script defer src="{{ url_for('static', filename='js/adminDialog.js') }}"></script>
{% include "components/_footer.html" %}