{% include "components/_header.html" %}
<!-- w-108% -mr-4% -ml-4% -->
<section class="browse-hero-section p-relative left--4.25% top--76px w-108.5% overflow-hidden ">
    <div class="trailer-vignette vignette-layer"></div>
    <img class="w-100% obj-f-cover"
        src="https://occ-0-1387-2774.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABfHLs_cbBwFVo23yUuFM8o21YkiuqMdSFZCPtRoHdvVgkm6TZ0UPzF7ww7hMfOZHr3FDZilc-AYDpICIID_pfcwmSanhib8CxbKO.webp?r=718"
        alt="Trailer">
    <div class="hero-vignette vignette-layer"></div>
</section>
<section class="content-wrapper">
    <section class="content-carrousel-container">
        <h2>Popular right now</h2>
        <div class="content-carrousel">
            {% for movie in movies_popular %}
            {% include "components/_movie_card.html" %}
            {% endfor %}
        </div>
    </section>
    <section class="content-carrousel-container">
        <h2>Popular right now</h2>
        <div class="content-carrousel">
            {% for movie in movies_popular %}
            {% include "components/_movie_card.html" %}
            {% endfor %}
        </div>
    </section>
</section>
<div class="h-32rem"></div>

{% include "components/_footer.html" %}