{% include "components/_header.html" %}
<section class="max-w-480px ma-auto">
    <div>
        <h1>{{ x.lans('pass_forgot_header_1') }}</h1>
        <p class="mb-4 text-c-var(--color_tertiary50)">{{ x.lans('pass_forgot_body_1') }}</p>
    </div>
    <div id="error_container">
    </div>

    <form action="{{ url_for('api_actions.api_forgot_password', lang=lang) }}" mix-post class="form-handle"
        autocomplete="off">
        <div class="form-handle-item">
            <label for="user_email">{{ x.lans("system_email") }}</label>
            <input class="required" name="user_email" type="text"
                placeholder="{{ x.lans('system_eg') }} email@domail.net" mix-check="{{ x.REGEX_EMAIL }}">
        </div>

        <button class="button-primary h-3rem mt-1rem w-100%" mix-default="{{ x.lans('system_email') }}"
            mix-await="{{ x.lans('system_loading') }}">
            {{ x.lans('pass_forgot_cta_1') }}
        </button>
    </form>

</section>
{% include "components/_footer.html" %}