{% include "components/_header.html" %}
<div class="start-img-container p-absolute w-100% h-37rem top-0 left-0 z--10">
    <div class="img-container w-100% h-100%">
        <div class="start-img-overlay"></div>
        <img class="img" src="{{ url_for('static', filename='images/start_page_bg_img.jpg')}}" alt="Netflix app icon">
        <div class="mt--10% h-100% bg-c-black"></div>
    </div>
</div>
<section class="start-page mb-5rem">
    <div class="start-content-container max-w-480px mx-auto mt-5% text-a-center">
        <h1 class="text-3rem text-lh-14">{{ x.lans("index_header_1") }}</h1>
        <p class="mt-1rem text-a-center" lg="text-1.2rem">{{ x.lans("index_body_1") }}.
        </p>
        <p class="mt-1rem text-a-center">{{ x.lans("index_body_2") }}.</p>
        <section>
            <form class="form-handle d-flex flex-column" md="flex-row" method="post"
                action="/index-pass-email/{{ lang }}" autocomplete="off">
                <div class="form-handle-item" md="w-70%" lg="w-60%">
                    <label class="p-self-start text-.85rem pl-.125rem" for="user_email">{{ x.lans("system_email")
                        }}</label>
                    <input name="user_email" id="user_email" type="text"
                        placeholder="{{ x.lans('system_eg') }} email@domail.net" mix-check="{{ x.REGEX_EMAIL }}">
                </div>
                <button class="button-primary h-3rem w-100%" md="a-self-end w-40%" lg="w-70%">
                    {{ x.lans("index_cta_1") }}
                    <i class="fa-solid fa-chevron-right fa-lg "></i>
                </button>
            </form>
        </section>
    </div>
</section>
<section class="start-trending bg-c-var(--color_main_bg) px-4% mx--4.2%">
    <header>
        <h2>Trending Now</h2>
    </header>

    <div class="start-trending-cards-wrapper fade-overlay d-flex gap-1.5rem h-10rem" md="h-15rem gap-2.5rem"
        lg="h-20rem">

        {% for i in range(1, 11) %}
        {% include "/components/_trending_card.html" %}
        {% endfor %}
    </div>

</section>
<section class="start-info-cards-container bg-c-var(--color_main_bg) px-4% py-2rem mx--4.2%">
    <header>
        <h2>More reasons to join</h2>
    </header>
    <div class="d-grid gap-1rem" lg="cols-2">
        {% include "/components/_info_card.html" %}
        {% include "/components/_info_card.html" %}
        {% include "/components/_info_card.html" %}
        {% include "/components/_info_card.html" %}
    </div>
</section>

{% include "components/_footer.html" %}