{% include "components/_header.html" %}
{% include "components/___back_btn.html"%}
<section class="max-w-480px ma-auto">
    <div>
        <h1>{{ x.lans("login_header_1") }}</h1>
        <p class="mb-4 text-c-var(--color_tertiary50)">{{ x.lans("login_body_1") }}.</p>
    </div>
    <div id="error_container">
    </div>

    <form action="{{ url_for('api_actions.login', lang=lang) }}" mix-post class="form-handle" autocomplete="off">
        <div class="form-handle-item">
            <label for="user_email">{{ x.lans("system_email") }}</label>
            <input class="required" name="user_email" type="text"
                placeholder="{{ x.lans('system_eg') }} email@domail.net" mix-check="{{ x.REGEX_EMAIL }}">
        </div>
        <div class="form-handle-item">
            <label for="user_password">{{ x.lans("system_password") }}</label>
            <input class="required" name="user_password" type="password"
                placeholder="{{ x.USER_PASSWORD_MIN }} {{ x.lans('system_to') }} {{ x.USER_PASSWORD_MAX }} {{ x.lans('system_characters') }}"
                mix-check="{{ x.REGEX_USER_PASSWORD }}">
        </div>
        <button class="button-primary h-3rem mt-1rem w-100%" mix-default="{{ x.lans('system_login') }}"
            mix-await="{{ x.lans('system_loading') }}">
            {{ x.lans("system_login") }}
        </button>
    </form>

    <p class="mt-4">{{ x.lans("login_splash_1") }}? <a class="hyperlink"
            href="{{ url_for('view_signup', lang=lang) }}">{{
            x.lans("login_link_1") }}</a>.</p>
    <a class="hyperlink" href="{{ url_for('view_forgot_password', lang=lang) }}">{{ x.lans("login_forgot_password")
        }}?</a>

</section>

{% include "components/_footer.html" %}