{% include "components/_header.html" %}

<section class="max-w-480px ma-auto">
    <div>
        <h1>Enter your info to sign in</h1>
        <p class="mb-4 text-c-var(--color_tertiary50)">Or get started with a new account.</p>
    </div>
    <div id="error_container"></div>
    <form action="/login" mix-post class="form-handle" autocomplete="off">
        <div class="form-handle-item">
            <label for="user_email">E-mail</label>
            <input name="user_email" type="text" placeholder="e.g. email@domail.net" mix-check="{{ x.REGEX_EMAIL }}">
        </div>
        <div class="form-handle-item">
            <label for="user_password">Password</label>
            <input name="user_password" type="password" placeholder="password" mix-check="{{ x.REGEX_USER_PASSWORD }}">
        </div>
        <button class="button-primary h-3rem mt-1rem" mix-default="Login" mix-await="Logging in ...">
            Log in
        </button>
    </form>

    <p class="mt-4">Not a user yet? <a class="hyperlink" href="{{ url_for('signup') }}">Become a user</a></p>

</section>

{% include "components/_footer.html" %}