<article md="flex-row p-items-center"
    class="d-flex j-content-between flex-col border-t-2 border-c-var(--color_tertiary) pt-.5rem">
    <div class="d-grid gap-2 cols-3 w-30% a-items-center">
        <div class="img-container w-3rem a-self-center">
            <img class="rounded-xs"
                src="{{ url_for('static', filename=user.user_avatar_path or 'images/twitter_default.png') }}"
                alt="Profile">
        </div>
        <div class="d-flex flex-col j-content-between">
            <p>
                {{ user.user_first_name }}
            </p>
            <p class="text-c-var(--color_tertiary)">
                {{ user.user_email }}
            </p>
        </div>
    </div>
    <div class="d-flex gap-2 p-self-end" md="p-self-center">
        {% if user.user_deleted_at != 0 %}
        <button class="button-secondary openDialog">open dialog</button>
        <button class="button-secondary" mix-patch="/reactivate-user?user_id={{ user.user_pk }}"
            mix-await="Reactivating user..." mix-default="Reactivate user">Reactivate
            user</button>
        {% else %}
        <button class="button-primary" mix-patch="/delete-user?user_id={{ user.user_pk }}" mix-await="Deleting user..."
            mix-default="Delete user">Delete
            user</button>
        {% endif %}
    </div>
</article>
<!-- {{ url_for('api_actions.api_delete_user', user_pk=user.user_pk) }} -->
<!-- /delete-user?user_id={{ user.user_pk }} -->
<!-- /reactivate-user?user_id={{ user.user_pk }} -->