</main>
<footer>
    <section class="footer-socials">
        <a class="text-24px" href="https://www.facebook.com/NetflixNordic" aria-label="facebook" target="_blank">
            <i class="fa-brands fa-facebook-f fa-sm"></i>
        </a>
        <a class="text-24px" href="https://www.instagram.com/NetflixNordic" aria-label="instagram" target="_blank">
            <i class="fa-brands fa-instagram fa-sm"></i>
        </a>
        <a class="text-24px" href="https://www.twitter.com/NetflixNordic" aria-label="twitter" target="_blank">
            <i class="fa-brands fa-twitter fa-sm"></i>
        </a>
        <a class="text-24px" href="https://www.youtube.com/NetflixNordic" aria-label="youtube" target="_blank">
            <i class="fa-brands fa-youtube fa-sm"></i>
        </a>

    </section>
    <div>
        <ul class="footer-links ">
            <li><a href="https://help.netflix.com/" target="_self"><span>Audio Description</span></a></li>
            <li><a href="https://help.netflix.com/" target="_self"><span>Help Centre</span></a></li>
            <li><a href="https://help.netflix.com/" target="_self"><span>Gift Cards</span></a></li>
            <li><a href="https://media.netflix.com/" target="_self"><span>Media Centre</span></a></li>
            <li><a href="http://ir.netflix.com/" target="_self"><span>Investor Relations</span></a></li>
            <li><a href="https://jobs.netflix.com/" target="_self"><span>Jobs</span></a></li>
            <li><a href="https://help.netflix.com/legal/termsofuse" target="_self"><span>Terms of Use</span></a></li>
            <li><a href="https://help.netflix.com/legal/privacy" target="_self"><span>Privacy</span></a></li>
            <li><a href="https://help.netflix.com/legal/notices" target="_self"><span>Legal Notices</span></a></li>
            <li><a href="https://help.netflix.com/" target="_self"><span>Cookie Preferences</span></a></li>
            <li><a href="https://help.netflix.com/legal/corpinfo" target="_self"><span>Corporate Information</span></a>
            </li>
            <li><a href="https://help.netflix.com/contactus" target="_self"><span>Contact Us</span></a></li>
            <li><a href="https://netflix.com/adchoices" target="_self"><span>Advert choices</span></a></li>
        </ul>
    </div>
    <span class="trademark">© 1997-2025 Dupeflix, Inc.</span>
</footer>

<script src="{{ url_for('static', filename='js/mixhtml.js') }}"></script>
</body>
<script>
    mojo()
</script>

</html>