<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/mixhtml.css') }}"> -->
    <script src="https://unpkg.com/mojocss"></script>
    <!-- <script src="{{url_for('static', filename='js/mojocss.js')}}"></script> CSS BACKUP -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/netflix_favicon.png') }}">
    <!-- <script defer src="{{ url_for('static', filename='dialog.js') }}"></script> -->
    <script defer src="{{ url_for('static', filename='js/moviecardScript.js') }}"></script>


    <title>
        Home | Dupeflix
    </title>
</head>

<body>
    <header class="header-global">
        <nav class="max-w-1620px mx-auto">
            <div>
                <div class="header-logo-container">
                    <a href="{{ url_for('view_browse') }}"><img class="w-full"
                            src="{{ url_for('static', filename='images/Logonetflix.png') }}" alt="Netflix logo"
                            width="90"></a>
                </div>
                {% if user %}
                <ul class="header-menu">
                    <li><a {% if request.endpoint=='view_browse' %} class="selected" {% endif %} href="/browse">{{
                            x.lans("nav_home") }}</a></li>
                    <li><a href="#">{{ x.lans("nav_series") }}</a></li>
                    <li><a href="#">{{ x.lans("nav_films") }}</a></li>
                    <li><a href="#">{{ x.lans("nav_games") }}</a></li>
                    <li><a href="#">{{ x.lans("nav_new_and_popular") }}</a></li>
                    <li><a {% if request.endpoint=='view_mylist' %} class="selected" {% endif %} href="/my-list">{{
                            x.lans("nav_my_list") }}</a></li>
                    <li><a href="#">{{ x.lans("nav_browse_by_language") }}</a></li>
                </ul>
            </div>
            <ul class="header-utility">
                <li>
                    <form>
                        <label for=""><i class="fa-solid fa-magnifying-glass fa-lg icon"></i></label>
                        <input class="hidden" type="text">
                    </form>
                </li>
                <li>
                    <a href="#" class="text-24px">
                        <i class="fa-regular fa-bell fa-lg icon"></i>
                    </a>
                </li>
                <li class="header-profile-container">
                    <div id="header-profile-icon" class="header-profile-icon">
                        <img class="profile-icon"
                            src="{{ url_for('static', filename='' ~ (user.user_avatar_path if user.user_avatar_path else '/images/twitter_default.png')) }}"
                            alt="Profile">
                    </div>
                    <span class="header-caret-icon"><i class="fa-solid fa-caret-down icon"></i></span>
                    <div class="header-profile-dropdown">
                        <div class="header-profile-dropdown-hoverfield"></div>
                        <p class="header-user-name">{{ x.lans("nav_hello") }}</a> {{ user.user_first_name }}</span>
                        </p>
                        <ul class="header-profile-dropdown-content">
                            <li class="mb-.5rem">
                                <form action="{{ url_for('update_user_language') }}" method="get">
                                    <select class="button-secondary w-100% text-1rem" name="language_selector"
                                        id="language_selector" onchange="this.form.submit()">
                                        <option value="en" {% if lang=="en" %}selected{% endif %}>English
                                        </option>
                                        <option value="nl" {% if lang=="nl" %}selected{% endif %}>
                                            Nederlands</option>
                                        <option value="es" {% if lang=="es" %}selected{% endif %}>Español
                                        </option>
                                    </select>
                                </form>
                            </li>
                            <li>
                                <a class="header-profile-dropdown-item" href="{{ url_for('view_account') }}">
                                    <i class="fa-solid fa-user"></i>
                                    <span>{{ x.lans("nav_account") }}</span>
                                </a>
                            </li>
                            <li>
                                <a class="header-profile-dropdown-item" href="{{ url_for('view_mylist') }}">
                                    <i class=" fa-solid fa-heart"></i>
                                    <span>{{ x.lans("nav_my_list") }}</span>
                                </a>
                            </li>
                            <li>
                                <a class="header-profile-dropdown-item" href="">
                                    <i class="fa-solid fa-square-up-right"></i>
                                    <span>{{ x.lans("nav_transfer_profile") }}</span>
                                </a>
                            </li>
                            <li>
                                <a class="header-profile-dropdown-item" href="">
                                    <i class="fa-regular fa-circle-question"></i>
                                    <span>{{ x.lans("nav_help_centre") }}</span>
                                </a>
                            </li>
                        </ul>
                        <div class="header-profile-dropdown-signout">
                            <a class="button-primary text-1rem w-100% text-a-center"
                                href="{{ url_for('api_actions.api_logout') }}">
                                {{ x.lans("system_logout") }} {{ x.lans("nav_of_dupeflix") }}</a>
                        </div>

                    </div>
                </li>
                {% else %}
                <section class="ml-auto d-flex gap-1rem p-items-center">
                    {% if request.endpoint not in ['login', 'view_admin', 'view_admin_login'] %}
                    <a class="button-primary text-1rem" href="{{ url_for('view_login', lang=lang) }}">
                        {{ x.lans("system_login") }}</a>

                    {% endif %}
                    {% if request.endpoint == 'view_admin' %}
                    <a class="button-primary ml-auto text-1rem" href="{{ url_for('api_actions.api_logout') }}">Log out
                        as
                        Admin</a>
                    {% endif %}
                    <form action="{{ url_for('update_website_language') }}" method="get">
                        <select class="button-secondary ml-auto text-1rem" name="language_selector"
                            id="language_selector" onchange="this.form.submit()">
                            <option value="en" {% if lang=="en" %}selected{% endif %}>English</option>
                            <option value="nl" {% if lang=="nl" %}selected{% endif %}>Nederlands</option>
                            <option value="es" {% if lang=="es" %}selected{% endif %}>Español</option>
                        </select>
                    </form>
                    {% endif %}
                </section>
            </ul>
        </nav>
    </header>

    <div id="toast"></div>
    <div id="global_toast_container"></div>
    <!-- <main class="min-h-75vh max-w-1620px mx-auto"> -->
    <main class="overflow-x-hidden mb-5rem">