<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://unpkg.com/mojocss"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/netflix_favicon.png') }}">
    <!-- <script defer src="{{ url_for('static', filename='dialog.js') }}"></script> -->
    <script defer src="{{ url_for('static', filename='js/moviecardScript.js') }}"></script>

    <title>
        Home | Netflix Dupe
    </title>
</head>

<body>
    <header class="header-global">
        <nav>
            <div>
                <div class="header-logo-container">
                    <a href="{{ url_for('browse') }}"><img class="w-full"
                            src="{{ url_for('static', filename='images/Logonetflix.png') }}" alt="Netflix logo"
                            width="90"></a>
                </div>
                {% if user %}
                <ul class="header-menu">
                    <li><a class="selected" href="#">Home</a></li>
                    <li><a href="#">Series</a></li>
                    <li><a href="#">Films</a></li>
                    <li><a href="#">Games</a></li>
                    <li><a href="#">New and Popular</a></li>
                    <li><a href="#">My List</a></li>
                    <li><a href="#">Browse by language</a></li>
                </ul>
            </div>
            <ul class="header-utility">
                <li>
                    <form>
                        <label for=""><i class="fa-solid fa-magnifying-glass fa-lg icon"></i></label>
                        <input class="hidden" type="text">
                    </form>
                </li>
                <li>
                    <a href="#" class="text-24px">
                        <i class="fa-regular fa-bell fa-lg icon"></i>
                    </a>
                </li>
                <li class="header-profile-container">
                    <div class="header-profile-icon">
                        <img src="{{ url_for('static', filename='images/' ~ (user.user_avatar_path if user.user_avatar_path else 'unknown.jpg')) }}"
                            alt="Profile">
                    </div>
                    <span class="header-caret-icon"><i class="fa-solid fa-caret-down icon"></i></span>
                    <div class="header-profile-dropdown">
                        <div class="header-profile-dropdown-hoverfield"></div>
                        <p class="header-user-name">Hello {{ user.user_first_name }}</span></p>
                        <ul class="header-profile-dropdown-content">
                            <li>
                                <a class="header-profile-dropdown-item" href="">
                                    <i class="fa-solid fa-pencil"></i>
                                    <span>Manage Profiles</span>
                                </a>
                            </li>
                            <li>
                                <a class="header-profile-dropdown-item" href="">
                                    <i class="fa-solid fa-square-up-right"></i>
                                    <span>Transfer Profile</span>
                                </a>
                            </li>
                            <li>
                                <a class="header-profile-dropdown-item" href="">
                                    <i class="fa-solid fa-user"></i>
                                    <span>Account</span>
                                </a>
                            </li>
                            <li>
                                <a class="header-profile-dropdown-item" href="">
                                    <i class="fa-regular fa-circle-question"></i>
                                    <span>Help Centre</span>
                                </a>
                            </li>
                        </ul>
                        <div class="header-profile-dropdown-signout">
                            <span><a href="{{ url_for('logout') }}">Sign out of Dupeflix</a></span>
                        </div>

                    </div>
                </li>
                {% else %}
                <a class="button-primary ml-auto text-1rem" href="{{ url_for('login') }}">Log in</a>
                {% endif %}
            </ul>
        </nav>
    </header>

    <div id="toast"></div>
    <main class="min-h-75vh">