<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://unpkg.com/mojocss"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/netflix_favicon.png') }}">
    <!-- <script defer src="{{ url_for('static', filename='dialog.js') }}"></script> -->
    <title>
        Home | Netflix Dupe
    </title>
</head>

<body>
    <h1>Welcome to Netflix</h1>
    <nav>
        <ul>
            <li><a href="{{ url_for('browse') }}">NETFLIX LOGO</a></li>
            <li>Drop down</li>
        </ul>
    </nav>

    <div id="toast"></div>
    <main>