<article class="card-container shadow-lg">
    <a href="/movie?movie_id={{movie.id}}">
        <div class="img-container w-100%">
            <img src="https://image.tmdb.org/t/p/w500{{movie.backdrop_path}}" alt="">
        </div>
        <div class="card-content">
            <h3>{{ movie.title }}</h3>

            <span>
                <!-- {% include "components/___add_mylist_btn.html" with context %}</span> -->

                <p>
                    {% for genre in movie.genres %}
                    {{ genre }}
                    {% if not loop.last %}
                    <i class="fa-solid fa-circle fa-2xs text-5px text-c-var(--color_tertiary) mx-.25rem"></i>
                    {% endif %}
                    {% endfor %}
                </p>
        </div>
    </a>
</article>