<article id="comment-{{review.review_pk}}"
    class="d-flex flex-col gap-.5rem slide-in border-l-2 border-c-var(--color_tertiary) ml-.5rem pl-1rem py-.5rem">
    <div class="d-flex gap-1rem">
        <div class="img-container w-10% max-w-50px">
            <img class="rounded-sm profile-icon"
                src="{{ url_for('static', filename='' ~ (review.user_avatar_path if review.user_avatar_path else '/images/twitter_default.png')) }}"
                alt="{{review.user_first_name}}">
        </div>
        <div class="d-flex flex-col gap-.125rem">
            {% if review.review_user_fk == user.user_pk %}
            <h4 class="ma-0">{{x.lans("review_me")}}</h4>
            {% else %}
            <h3 class="text-t-capitalize ">{{review.user_first_name}}</h3>
            {% endif %}
            <p class="small ma-0">{{x.lans("review_body_ago_2")}} {{review.review_created_at | timeago}}
                {{x.lans("review_body_ago_1")}}</p>
        </div>
    </div>
    <div class="p-absolute top-.5rem right-0">
        {% if review.review_user_fk != user.user_pk %}

        <button class="button-secondary-small ma-0"
            mix-patch="{{ url_for('api_actions.api_block_user', blocking_user_fk=review.review_user_fk, blocker_user_fk=user.user_pk, review_pk=review.review_pk)}}">
            {{x.lans("review_block")}} {{review.user_first_name}}</button>
        {% else %}

        <button class="button-secondary-small"
            mix-post="{{ url_for('api_actions.api_edit_review', review_pk=review.review_pk) }}">Edit</button>
        <button class="button-primary-small"
            mix-patch="{{ url_for('api_actions.api_delete_review', review_pk=review.review_pk) }}">{{x.lans("system_delete")}}</button>

        {% endif %}
    </div>
    <p class="mt-0">{{review.review_text}}</p>
</article>