<article class="d-flex flex-col slide-in">
    <div class="d-flex gap-1rem">
        <div class="img-container w-20% max-w-50px">
            <img class="rounded-sm"
                src="{{ url_for('static', filename='' ~ (review.user_avatar_path if review.user_avatar_path else '/images/twitter_default.png')) }}"
                alt="{{review.user_first_name}}">
        </div>
        <div class="d-flex flex-col j-content-between">
            <h3>{{review.user_first_name}}</h3>
            <p>Review created at {{review.review_created_at | timeago}} ago</p>
        </div>
    </div>
    <p class="mt-0">{{review.review_text}}</p>
</article>