<article class="start-trending-card h-156px" md="h-196px" lg="h-251px">
    <span class="stroke">{{ i }}</span>
    <span>{{ i }}</span>
    <div class="img-container">
        <!-- <img class="img"
            src="https://occ-0-1387-2774.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABUv-tC5x0ZEUmDpHcBY6071ebEWyfjHZ4hG47c8qDXO5lGq59jdtgcdroDR94cEGTydEqqVXPROuxVolphdmLwED61R70yePMd5DKfp8IlSdzmLQRZJ8qxYmETl8x6VhBibg.webp?r=8ff"
            alt="Trending poster"> -->
    </div>
</article>